<div class="backgroundContainer">
    <div class="mainBox fadeIn">

        <img class="logoImage" src="assets/images/logo.jpg" height="150" width="150">
        <h2 class="titleForm">Prueba técnica</h2>

        <form [formGroup]="loginForm" class="formContainer">
            
            <div class="inputContainer">
                <mat-icon fill="0" class="inputIcon">person</mat-icon>
                <input class="inputForm" formControlName="username"  placeholder="Email">
            </div>
            <span *ngIf="loginForm.get('username').hasError('required') && loginForm.controls['username'].touched" class="errorMessage">Campo requerido</span>
            <span *ngIf="loginForm.get('username').hasError('email') && loginForm.controls['username'].touched" class="errorMessage">Debe ser formato email</span>

            <div class="inputContainer">
                <mat-icon class="inputIcon">lock</mat-icon>
                <input class="inputForm" formControlName="password"  placeholder="Contraseña">
            </div>
             <span *ngIf="loginForm.get('password').hasError('required') && loginForm.controls['password'].touched" class="errorMessage">Campo requerido</span>
             <span *ngIf="loginForm.get('password').hasError('minlength') && loginForm.controls['password'].touched" class="errorMessage">Debe contener 5 caracteres mínimo</span>

             <div class="rememberContainer">
                <div class="rememberSpanContainer"><span>Recordar</span></div>
                <div class="toggleContainer"><mat-slide-toggle formControlName="rememberUser"></mat-slide-toggle></div>      
             </div>

            <button class="submitButton" type="submit" (click)="login()">Acceder</button> 
        </form> 
    </div>
</div>